form{
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    flex-direction: column;
    margin: 2rem auto;
    width: 50%;
    border-radius: .5rem;
    padding: 1rem;
    background-color: #fff;
   border:#000 solid 1px;
}
form h2{
    text-align: center
}
label{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    color: #000;
}
input{
    padding: .5rem;
    border-radius: .5rem;
    color: #000;
    font-size: 1.05rem;
    border: 1px solid #ccc
}
button{
    background: #000;
    color: #fff;
    padding: .5rem;
    border-radius: .5rem
}